{% extends "clientapp/index.html" %}
{% load static %}
{% block link %} 
<link rel="stylesheet" href={% static "login.css" %}>
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<form  class="form-signin" method="POST">
	{% csrf_token %}
	<input type="hidden" name="next" value="">
	<img class="mb-4" src={% static "logo.svg" %} alt="" width="72" height="72">

	<div class="fieldWrapper">
	<h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
	<label for="inputEmail" class="sr-only">{{ form.email }}</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="Email" name="username"
	value="" required="" autofocus="" data-cip-id="inputEmail">
	</div>

	<label for="inputPassword1" class="sr-only">{{ form.password1 }}</label>
	<input type="password" id="inputPassword1" class="form-control" placeholder="Пароль"
	name="password1" required="" data-cip-id="inputPassword1">

	<label for="inputPassword2" class="sr-only">{{ form.password2 }}</label>
	<input type="password" id="inputPassword2" class="form-control" placeholder="Повторите пароль"
	name="password2" required="" data-cip-id="inputPassword2">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
	<p class="mt-5 mb-3 text-muted">© Просто магазин 2018</p>
</form>
{% endblock %}
