{% extends "clientapp/index.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<main role="main">
	<div class="container mt-3">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-12">
				<h2>{{product.title}}</h2>
				<img src={{product.image.url}} width="120">
				<p>{{product.description}}</p>
				{% if user.is_authenticated %}
				<form action="{% url 'add_to_cart' product.slug %}" method="get">
					{% csrf_token %}
					<input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
				</form>
				{% else %}
				<a class="btn btn-secondary {% if url_name == "login" %}active{%endif%}" role="button"
				href={% url "login" %}>
			Добавить в корзину »</a>
			{% endif %}
		</div>
	</div>
	<hr>
		{% for review in anonymous_reviews %}
		<span>{{review.name}}</span>
		<p>{{review.mark|number_to_asterisks}}</p>
		<p> {{review.description}}</p>
		{% endfor %}
	<hr>
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-12">
			<h4>Оставте отзыв:</h4>
			<form action='{% url 'anonymous_reviews' product.slug %}' method="post">
				{% csrf_token %}

				<div class="form-group">
					<label for="name">Имя</label>
					<input type="text" class="form-control" id="name" aria-describedby="nameHelp"
					placeholder="Представьтесь" name="name" data-cip-id="name">
				</div>
				<div class="form-group">
					<label for="content">Содержание</label>
					<textarea class="form-control" id="content" placeholder="Содержание"
					name="description"></textarea>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="mark" id="mark1" value="1">
					<label class="form-check-label" for="mark1">
						1
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="mark" id="mark2" value="2">
					<label class="form-check-label" for="mark2">
						2
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="mark" id="mark3" value="3">
					<label class="form-check-label" for="mark3">
						3
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="mark" id="mark4" value="4">
					<label class="form-check-label" for="mark4">
						4
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="mark" id="mark5" value="5">
					<label class="form-check-label" for="mark5">
						5
					</label>
				</div>

				<button type="submit" class="btn btn-primary">Оставить</button>
			</form>
		</div>
	</div>

</div> <!-- /container -->
</main>
{% endblock %}